go 1.25.14

use (
	./services/comments-service
	./services/db-migrate
	./services/events-service
	./services/faces-worker
	./services/identity-service
	./services/mailer-service
	./services/shared
	./services/stats-service
	./services/stream-service
	./services/thumbnail-service
	./services/transcoder-service
)
